<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listServlet</servlet-name>
        <servlet-class>controller.listServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>controller.editServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>controller.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCategoryServlet</servlet-name>
        <servlet-class>controller.listCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductServlet</servlet-name>
        <servlet-class>controller.deleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCategoryServlet</servlet-name>
        <servlet-class>controller.addCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOutServlet</servlet-name>
        <servlet-class>controller.logOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listServlet</servlet-name>
        <url-pattern>/listServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/editServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCategoryServlet</servlet-name>
        <url-pattern>/listCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductServlet</servlet-name>
        <url-pattern>/deleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCategoryServlet</servlet-name>
        <url-pattern>/addCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOutServlet</servlet-name>
        <url-pattern>/logOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
           listServlet
        </welcome-file>
    </welcome-file-list>
</web-app>
